<div class="container" >
    <div class="nav navbar-nav navbar-right" style="padding-right: 30px;">
        <a ui-sref="search"><b>New Search</b></a>
        <!--<a href="javascript:history.back()"><b> Back</b></a>-->
    </div>
    <br/>
</div>
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand subheader" style="color: #000066">{{jobDetails.JobTitle[0]}}</span></b></span>
            </div>
            <div class="nav navbar-brand navbar-right" style="padding-right: 50px;">
               <b><a target="_blank" ng-if="jobDetails.ApplyUrl[0] != ''" href="{{jobDetails.ApplyUrl[0]}}">Apply</a></b>
            </div>
        </div>
    </div>
</div>
<div class="container" style="height: 450px">
        <div class="panel-wrapper" >
            <label class="control-label" ng-if="jobDetails.CompanyName[0] != ''">Company: </label> {{jobDetails.CompanyName[0]}} <label class="control-label" ng-if="jobDetails.Industry[0] != ''">Industry:</label> {{jobDetails.Industry[0]}}
        </div>
        <div class="panel-wrapper">
            <label class="control-label">Location: </label> {{jobDetails.Address[0]}} {{jobDetails.City[0]}} {{jobDetails.State[0]}}
        </div>
        <div class="panel-wrapper">
            <label class="control-label" ng-if="jobDetails.JobCategory[0] != ''">Category: </label> {{jobDetails.JobCategory[0]}} <label class="control-label" ng-if="jobDetails.Department[0] != ''">Department:</label> {{jobDetails.Department[0]}} Role: {{jobDetails.Role[0]}}
        </div>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.YearsOfExperience[0] != ''">Experience: </label> {{jobDetails.YearsOfExperience[0]}} <label class="control-label" ng-if="   jobDetails.Education[0] != ''"> Education:</label> {{jobDetails.Education[0]}}
    </div>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.CompanyProfile[0] != ''">Company Profile: </label> {{jobDetails.Website[0]}}{{jobDetails.CompanyProfile[0]}}
    </div>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.Salary[0] != ''">Salary: </label> {{jobDetails.Salary[0]}}
    </div>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.DatePosted[0] != ''">Date Posted: </label> {{jobDetails.DatePosted[0]}}
    </div>
    <div class="panel-wrapper">
        <label class="control-label" >Contact: </label> {{jobDetails.ContactName[0]}} {{jobDetails.ContactEmailAddress[0]}}
    </div>
    <br/>
    <div class="panel-wrapper">
        <label class="control-label">Description:</label> {{jobDetails.JobDescription[0]}}
    </div>

</div>
