<div class="container" >
    <div class="nav navbar-nav navbar-right" style="padding-right: 30px;">
        <a ui-sref="search"><b>New Search</b></a>
        <!--<a href="javascript:history.back()"><b> Back</b></a>-->
    </div>
    <br/>
</div>
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand subheader" style="color: #000066">{{jobDetails.JobTitle}}</span></b></span>
            </div>
            <div class="nav navbar-brand navbar-right" style="padding-right: 50px;">
               <b><a target="_blank" ng-if="jobDetails.ApplyUrl != ''" href="{{jobDetails.ApplyUrl}}">Apply</a></b>
            </div>
        </div>
    </div>
</div>
<div class="container" style="height: 450px">
        <div class="panel-wrapper" >
            <label class="control-label" ng-if="jobDetails.CompanyName != ''">Company: </label> {{jobDetails.CompanyName}} <label class="control-label" ng-if="jobDetails.Industry != ''">Industry:</label> {{jobDetails.Industry}}
        </div>
        <div class="panel-wrapper">
            <label class="control-label" ng-if="jobDetails.City != ''">Location: </label> {{jobDetails.Address}} {{jobDetails.City}} {{jobDetails.State}}
        </div>
        <div class="panel-wrapper">
            <label class="control-label" ng-if="jobDetails.JobCategory != ''">Category: </label> {{jobDetails.JobCategory}} <label class="control-label" ng-if="jobDetails.Department != ''">Department:</label> {{jobDetails.Department}} <label class="control-label" ng-if="jobDetails.Role != ''">Role:</label> {{jobDetails.Role}}
        </div>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.YearsOfExperience != ''">Experience: </label> {{jobDetails.YearsOfExperience}} <label class="control-label" ng-if="jobDetails.Education != ''"> Education:</label> {{jobDetails.Education}}
    </div>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.CompanyProfile != ''">Company Profile: </label> {{jobDetails.Website}}{{jobDetails.CompanyProfile}}
    </div>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.Salary != ''">Salary: </label> {{jobDetails.Salary}}
    </div>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.DatePosted != ''">Date Posted: </label> {{jobDetails.DatePosted}}
    </div>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.ContactEmailAddress != ''">Contact: </label> {{jobDetails.ContactName}} {{jobDetails.ContactEmailAddress}}
    </div>
    <br/>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.JobDescription != ''">Description:</label> {{jobDetails.JobDescription}}
    </div>
    <br/>
    <div class="panel-wrapper">
        <label class="control-label" ng-if="jobDetails.JobDetailUrl != ''">Job Details Url: </label> <a target="_blank" href="{{jobDetails.JobDetailUrl}}">{{jobDetails.JobDetailUrl}}</a>
    </div>

</div>
