<table border="0">
    <tr>
        <td valign="top" width="20%">
            <table>
            <tr>
                <td><b>Company</b></td>
            </tr>
                <tr><td>
                    <table width="100%" data-ng-repeat="category in categories">
                        <tr>
                         <td><a data-ng-click="displayResult('CompanyName',category.category,1,true)">{{category.category}} ({{category.count}})</a></td>
                        </tr>
                    </table>
                </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td ng-if="categoryLimit == 5"><a data-ng-click="displayAllCities(0)">More...</a></td></tr>
                <tr><td ng-if="categoryLimit == 0"><a data-ng-click="displayAllCities(5)">Less...</a></td></tr>
            </table>
        </td>
        <td width="100%" valign="top">
<div class="container-fluid" style="align-content:center;background-color: white;height: 550px;margin-left:0px;margin-top: 0px">
        <form name="searchform">
            <img style="height: 40px;width: 50px;background-color: #eee" src="images/global-search-icon.jpg">
            <label>Search IT Job Openings</label>
            <input type="text" autofocus data-ng-model="searchText" style="width: 400px;" typeahead="text for text in getOpeningsStartsWith($viewValue)" typeahead-loading="loading" required="">
            <!--<input type="email" placeholder="Employees" typeahead="emailId for emailId in getEmployees($viewValue)" typeahead-loading="loading" class="form-control" required>-->
        <!--<button ng-disabled="searchform.$invalid" style="height: 25px;width: 30px;" ui-sref="searchResult({searchText:searchText})" type="submit">-->
            <button ng-disabled="searchform.$invalid" style="height: 25px;width: 30px;" data-ng-click="displayResult('','',1,true)" type="submit">
            <span class="glyphicon glyphicon-search" ></span>
        </button>
        </form>
    <span class="navbar-brand subheader" style="color: #000066" ng-show="resultCount > 0">Search Result for <b><span color="#999">{{searchFor}}</span></b></span>
    <div style="height: 500px">
        <table width="100%" class="table table-hover table-responsive table-condensed tab-content" data-ng-repeat="job in result">
            <td>
                <table width="100%">
                    <tr>
                        <td style="width:90%">
                            <a ng-if="job.JobTitle[0] != ''" ng-click="open(job.JobTitle[0],job.JobDescription[0],job.ApplyUrl[0],job.JobDetailUrl[0])">{{job.JobTitle[0]}}</a>
                            <span ng-if="job.CompanyName[0] != ''">, Organization: {{job.CompanyName[0]}}</span>
                             <span ng-if="job.City[0] != ''">, Location: {{job.City[0]}} {{job.State[0]}}</span>
                             <span ng-if="job.JobCategory[0] != ''">, Job Category: {{job.JobCategory[0]}}</span>
                            <span ng-if="job.Skills[0] != ''">, Skills: {{job.Skills[0]}}</span>
                            <span ng-if="job.YearsOfExperience[0] != ''">, Experience: {{job.YearsOfExperience[0]}}</span>
                            <span ng-if="job.DatePosted[0] != ''">, Date Posted: {{job.DatePosted[0]}}</span>
                            <span ng-if="job.JobDetailUrl1[0] != ''">, <a target="_blank" ui-sref="jobDetails({JobDetailUrl:job.JobDetailUrl1[0]})" > Read More... </a></span>
                        </td>
                        <td style="width:10%"><span ng-if="job.ApplyUrl[0] != ''"><a ng-if="job.ApplyUrl[0] != ''"  target="_blank" href="{{job.ApplyUrl[0]}}">Apply</a></span></td>
                    </tr>
                </table>
            </td>
        </table>
        <div class="nav navbar-nav navbar-right" style="padding-right: 30px;" ng-show="resultCount > 0" >
            <table>
                <tr>
                    <td style="padding-right: 5px;">{{pagination_message}}</td>
                    <td><pagination total-items="resultCount" ng-model="currentPage" ng-change="pageChanged()"></pagination></td>
                </tr>
            </table>
        </div>
    </div>

</div>
    </td>
    </tr>
</table>