<div class="container-fluid" >
    <div class="row">
        <div class="col-md-3">
            <h4>
                Companies
            </h4>
            <table width="100%" data-ng-repeat="category in categories">
                <tr>
                    <td><a data-ng-click="displayResult('CompanyName',category.category,1,true)">{{category.category}} ({{category.count}})</a></td>
                </tr>
            </table>
            <br/>
            <table>
                <tr><td ng-if="categoryLimit == 5"><a data-ng-click="displayAllCities(0)">More...</a></td></tr>
                <tr><td ng-if="categoryLimit == 0"><a data-ng-click="displayAllCities(5)">Less...</a></td></tr>
            </table>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <form name="searchform">
                        <img style="height: 40px;width: 50px;background-color: #eee" src="images/global-search-icon.jpg">
                        <label>Search IT Job Openings</label>
                        <input type="text" autofocus data-ng-model="searchText" style="width: 40%;" typeahead="text for text in getOpeningsStartsWith($viewValue)" typeahead-loading="loading" required="">
                        <button ng-disabled="searchform.$invalid" style="height: 25px;width: 3%;" data-ng-click="displayResult('','',1,true)" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><span class="navbar-brand subheader" style="color: #000066" ng-show="resultCount > 0">Search Result for <b><span color="#999">{{searchFor}}</span></b></span>
                    <span ng-show="resultCount > 0" class="navbar-right" style="margin-top: 20px;margin-right: 10px">Freshness (in days)</span>
                    <div >
                        <table width="100%" class="table table-hover table-responsive table-condensed tab-content" data-ng-repeat="job in result">
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="width:85%">
                                            <label class="control-label"><a ng-if="job.JobTitle != ''" ng-click="open(job.JobTitle,job.JobDescription,job.ApplyUrl,job.JobDetailUrl)"> <span ng-bind-html="job.JobTitle1"></span></a></label>
                                            <span ng-if="job.CompanyName != ''">, <label class="control-label">Organization:</label> <span ng-bind-html="job.CompanyName"></span></span>
                                            <span ng-if="job.City != ''">, <label class="control-label">Location:</label> <span ng-bind-html="job.City"></span> {{job.State}}</span>
                                            <span ng-if="job.JobCategory != ''">, <label class="control-label">Job Category:</label> <span ng-bind-html="job.JobCategory"></span></span>
                                            <span ng-if="job.Skills != ''">, <label class="control-label">Skills:</label> <span ng-bind-html="job.Skills"></span></span>
                                            <span ng-if="job.YearsOfExperience != ''">, <label class="control-label">Experience:</label> {{job.YearsOfExperience}}</span>
                                            <span ng-if="job.DatePosted != ''">, <label class="control-label">Date Posted:</label> {{job.DatePosted}}</span>
                                            <span ng-if="job.JobDetailUrl1 != ''">, <a target="_blank" ui-sref="jobDetails({JobDetailUrl:job.JobDetailUrl1})" > Read More... </a></span>
                                        </td>
                                        <td style="width:5%"><span ng-if="job.ApplyUrl != ''"><a ng-if="job.ApplyUrl != ''"  target="_blank" href="{{job.ApplyUrl}}">Apply</a></span></td>
                                        <td style="width:5%">{{job.Age}}</td>
                                    </tr>
                                </table>
                            </td>
                        </table>
                        <br/>
                        <div ng-show="resultCount == 0">
                                <table>
                                    <tr><td><b>No Result found for {{searchText}}</b></td></tr>
                                </table>
                        </div>
                        <div class="nav navbar-nav navbar-right" style="padding-right: 30px;" ng-show="resultCount > 0" >
                            <table>
                                <tr>
                                    <td style="padding-right: 5px;">{{pagination_message}}</td>
                                    <td><pagination total-items="resultCount" ng-model="currentPage" ng-change="pageChanged()"></pagination></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
